{% extends 'home/index.html.twig' %}

{% block head_style %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('plugins/dashboard/css/dashboard.css') }}" />
{% endblock %}

{% block body_content %}
  <div class="karambol-flex-container">
    <div class="karambol-flex-item">
      <div class="karambol-dashboard">
        <div class="container-fluid">
          {% for row in widgets %}
            <div class="row">
            {% for widget in row %}
              {% include 'dashboard/_widget.html.twig' %}
            {% endfor %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="karambol-footer">
      {% block body_footer %}
        {{ menu('home_footer') }}
      {% endblock %}
    </div>
  </div>
  {{
    appendScript([
      'plugins/dashboard/js/jsrpc/server.js',
      'plugins/dashboard/js/dashboard.js'
    ])
  }}
{% endblock %}
